<app-header></app-header>

    <div class="alerts">
        <div class="container"></div>
    </div>
    <div class="app-content" style="cursor: default;">
        <div class="container main">
            <div class="ui-panel marketing promo is-rounded" style="padding-top: 100px;">
                <div class="ui-panel-content ui-panel-block">
                    <div class="hero">
                        <h1 class="title">Promote your ad and sell fast on ikman.lk - the largest marketplace in Sri
                            Lanka</h1>
                        <div class="intro">
                            <div class="push is-island">
                                <img width="500" height="400"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    srcset="https://w.ikman-st.com/dist/img/ikman/all/marketing/promotions/devices-c80b5bae.jpg 1x, https://w.ikman-st.com/dist/img/ikman/all/marketing/promotions/devices-2x-e635a156.jpg 1.3x">
                            </div>
    
                            <p class="h2">A popular marketplace like ikman.lk has thousands of buyers and sellers - so
                                how can you make your ad stand out?</p>
                            <p>While the basic service of posting an ad remains free on ikman.lk, we now offer extra
                                paid options for our posters who want to <strong>stand out</strong> and <strong>reach
                                    more interested buyers</strong> quickly and easily.</p>
                            <p><strong>Need to sell urgently?</strong><br>Our promotions are an excellent way to get
                                your items sold quickly!</p>
                            <p>To promote an ad, simply:</p>
                            <ul>
                                <li>post an ad and click the &quot;Promote your ad&quot; button on the last page, or
                                </li>
                                <li>go to an ad you have already posted and click the &quot;Promote ad&quot; option.
                                </li>
                            </ul>
                        </div>
                        <ul class="bullets row">
                            <li class="car lg-6">
                                <!-- <div class="col-6"> -->
                                <div class="text">
                                    <h4 class="heading">Get more views</h4>
                                    <img src="https://w.ikman-st.com/dist/img/all/marketing/promotions/car-2x-52d48efc.png"
                                        width="103" height="86">
                                    <p>we have designed "promote and earn from this ad button", from this function we give
                                        users the opportunity to earn money from share your ad in social media. Which mean
                                        you ad become a viral in social media within few our</p>
                                    <!-- </div> -->
                                </div>
                            </li>
    
                            <!-- <div class="col-6"> -->
                            <li class="car lg-6">
    
                                <div class="text">
                                    <h4 class="heading">Sell fast for a good price</h4>
                                    <img src="https://w.ikman-st.com/dist/img/all/marketing/promotions/chart-2x-34a7b932.png"
                                        width="103" height="86">
                                    <p>More replies means more interested buyers. With lots of interested buyers, you
                                        have a better chance of selling for the price that you want.</p>
                                </div>
                                <!-- </div> -->
                            </li>
                        </ul>
    
                    </div>
    
                    <hr class="ui-divider sm-panel-wide xs-panel-wide">
                    <div class="products">
                        <h1 class="section-heading break">Our Ad Promotions</h1>
                        <div id="p-topad" class="row product">
                            <div class="col-12">
                                <h2 class="title"><img
                                        src="https://previews.123rf.com/images/jovanas/jovanas1810/jovanas181001827/111096430-number-1-badge-award-icon-award-sign.jpg"
                                        width="72" height="72"><span>Top Ad</span></h2>
                            </div>
                            <div class="col-12 info">
                                <div class="push is-island"><img
                                        src="https://w.ikman-st.com/dist/img/all/marketing/promotions/top/desktop-2x-0d3bd859.png"
                                        width="520" height="300"></div>
                                <p>At the top of every ad listing page, there are up to 2 spots reserved for Top Ads. By
                                    adding a Top Ad promotion to your ad, you earn the chance for your ad to be
                                    displayed in one of these Top Ad spots - which can get you up to 10 times or more
                                    views!</p>
                                <ul>
                                    <li>
                                        <p>Top Ads stand out - they are bigger than regular ads, highlighted in yellow,
                                            and clearly marked as a "Top Ad".</p>
                                    </li>
                                    <li>
                                        <p>Each Top Ad is given an equal chance of being shown in the Top Ad spots. This
                                            means thousands of extra appearances for each Top Ad on our most-viewed
                                            pages - every day, for up to 15 days.</p>
                                    </li>
                                    <li>
                                        <p>In addition to joining the Top Ad list, your ad is also posted as a regular
                                            ad. So you can add a Daily Bump Up promotion to your regular ad too.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr class="is-xl">
                        <div id="p-bumpup" class="row product">
                            <div class="col-12">
                                <!-- <h2 class="title"><img data-srcset="https://w.ikman-st.com/dist/img/all/products/72/bumpup-1x-6ebd9555.png 1x, https://w.ikman-st.com/dist/img/all/products/72/bumpup-2x-145f509e.png 1.3x" width="72" height="72"><span>Daily Bump Up</span></h2> -->
                                <h2 class="title"><img
                                        src="https://w.ikman-st.com/dist/img/all/products/72/bumpup-2x-145f509e.png"
                                        width="72" height="72"><span>Daily Bump Up</span></h2>
                            </div>
                            <div class="col-12 info">
                                <div class="push is-island"><img
                                        src="https://w.ikman-st.com/dist/img/all/marketing/promotions/bump/desktop-2x-e98b7164.png"
                                        width="520" height="300"></div>
                                <p>The Daily Bump Up promotion moves your ad to the top of the regular ad listings once
                                    a day for up to 15 days. It has the same effect as reposting your ad every day - but
                                    it's automatic and attracts 5 times or more views!</p>
                                <ul>
                                    <li>
                                        <p>Ads with Daily Bump Up are given a fresh start once a day, to get your ad
                                            more views with no extra effort.</p>
                                    </li>
                                    <li>
                                        <p>Ads move down the pages as usual until the next bump up, and this is repeated
                                            for up to 15 days.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr class="is-xl">
                        <div id="p-urgentad" class="row product">
                            <div class="col-12">
                                <h2 class="title"><img
                                        src="https://w.ikman-st.com/dist/img/all/product-urgent/72/en-2x-4e4c06af.png"
                                        width="72" height="72"><span>URGENT</span></h2>
                            </div>
                            <div class="col-12 info">
                                <div class="push is-island"><img
                                        src="https://w.ikman-st.com/dist/img/all/marketing/promotions/urgent/desktop-2x-5dee7346.png"
                                        width="520" height="300"></div>
                                <p>Want to sell quickly? The URGENT promotion helps your ad stand out from the rest and
                                    communicates your urgency to potential buyers who are looking for a great deal.</p>
                                <ul>
                                    <li>
                                        <p>URGENT ads stand out from the rest by showing a bright red marker on the ad
                                        </p>
                                    </li>
                                    <li>
                                        <p>Combine this promotion with a Top Ad or Bump Up to ensure your ad stays on
                                            top of regular listings and gets up to 10 times more views.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr class="is-xl">
                        <div id="p-spotlight" class="row product">
                            <div class="col-12">
                                <h2 class="title"><img
                                        src="https://w.ikman-st.com/dist/img/all/products/72/spotlight-2x-dd99a751.png"
                                        width="72" height="72"><span>Bid now</span></h2>
                            </div>
                            <div class="col-12 info">
                                <div class="push is-island"><img
                                        src="https://w.ikman-st.com/dist/img/all/marketing/promotions/spotlight/desktop-2x-bf08b5fc.png"
                                        width="520" height="300"></div>
                                <p>Spotlight is a premium spot for showcasing your high-value items and getting
                                    immediate attention from buyers on ikman. To get the most value out of this
                                    promotion, make sure you add great-looking photos while posting your ad.</p>
                                <ul>
                                    <li>
                                        <p>Spotlight ads are visually appealing - with big images and clean design to
                                            attract more views.</p>
                                    </li>
                                    <li>
                                        <p>Each Spotlight ad is given an equal chance of being shown in this premium
                                            spot, with 5 ads being shown automatically to every user.</p>
                                    </li>
                                    <li>
                                        <p>In addition to Spotlight, your ad is also posted as a regular ad. So you can
                                            add other promotions to your regular ad too.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="ui-panel membership promo is-rounded">
                    <div class="ui-panel-content ui-panel-block">
                        <div class="boxed-area">
                            <div class="box-title">
                                <h2 id="membership-title">Expand your business with Membership</h2>
                            </div>
                            <div class="row">
                                <div class="col-12 lg-2 t-center"><img data-srcset="https://w.ikman-st.com/dist/img/all/marketing/promotions/membership-e828a413.png 1x, https://w.ikman-st.com/dist/img/all/marketing/promotions/membership-2x-273374b0.png 1.3x" id="membership-logo" width="60" height="72"></div>
                                <div class="col-12 lg-6">
                                    <p>Memberships include bonus Top Ad and Bump Up promotions, and are loaded with extra
                                        features to give your business a bigger presence on ikman.lk.</p>
                                </div>
                                <div class="col-12 lg-3 t-center">
                                    <form action="/en/membership"><button class="ui-btn is-secondary learn-more">Learn
                                            more</button></form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
        </div>
    </div>

<app-footer></app-footer>