<app-header></app-header>

<div class="alerts" style="padding-top: 6%">
    <div class="container"></div>
</div>
<div class="app-content">
    <div class="container main">
        <div class="buy-now-static">
            <div class="ui-panel marketing is-rounded panel-break">
                <div class=" ui-panel-content ui-panel-block">
                    <div class="row indent-horisontal">
                        <div class="col-12 lg-6 ">
                            <div><img
                                    src = "assets/images/buy/11.png"
                                    class="image" width="244" height="42"></div>
                            <h1 class="t-bold">
                                <p>Quick, safe and easy - from ikman to your doorstep!</p>
                            </h1>
                            <h4 class="c-primary-grey">
                                <p>Buy directly on <strong>auction.lk</strong>, without leaving your home. Just Click on
                                    Buy Now to place an order, and we will deliver the item to your doorstep.</p>
                            </h4>
                            <div></div>
                            <div class="buyer-span"><img
                                    src = "assets/images/buy/12.png"
                                    class="image" width="244" height="42"></div>
                            <div class="buyer-div">
                                <p>When you buy using Buy Now, you are covered by our Buyer Protection program.</p>
                            </div>
                            <h4 class="c-primary-grey">
                                <p>This means that if the delivered item is not as described in the ad, we will
                                    replace it for FREE.</p>
                            </h4>
                        </div>

                    </div>
                </div>
            </div>
            <div class="buyer-protection-panel">
                <div class="ui-panel is-rounded panel-break">
                    <div class="ui-panel-content ui-panel-block">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="t-bold t-center">How Buy Now works</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 lg-8 ">
                                <ol class="steps-list">
                                    <li class="h4 t-bold">
                                        <div class="image-cont"><img
                                                 src = "assets/images/buy/13.png"
                                                class="image" width="96" height="auto"></div><span
                                            class="c-primary-grey t-normal">Click on Buy Now and place your order.
                                            You can choose if you want to pay when the item is delivered or directly
                                            online.</span>
                                        <hr>
                                    </li>
                                    <li class="h4 t-bold">
                                        <div class="image-cont"><img
                                                 src = "assets/images/buy/14.png"
                                                class="image" width="96" height="auto"></div><span
                                            class="c-primary-grey t-normal">ikman will call you to confirm the order
                                            and arrange a delivery time.</span>
                                        <hr>
                                    </li>
                                    <li class="h4 t-bold">
                                        <div class="image-cont"><img
                                                 src = "assets/images/buy/15.png"
                                                class="image" width="96" height="auto"></div><span
                                            class="c-primary-grey t-normal">ikman will deliver the item to your
                                            doorstep.</span>
                                        <hr>
                                    </li>
                                    <li class="h4 t-bold">
                                        <div class="image-cont"><img
                                                 src = "assets/images/buy/16.png"
                                                class="image" width="96" height="auto">
                                            <div class="buyer-text">
                                                <!-- <p><strong>Buyer Protection</strong></p> -->
                                            </div>
                                        </div><span class="c-primary-grey t-normal">If the delivered item is not as
                                            described in the ad, we will replace it for FREE.</span>
                                        <hr>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-panel is-rounded panel-break">
                <div class="ui-panel-content ui-panel-block">
                    <h1 class="t-bold t-center">Benefits of Buy Now</h1>
                    <div class="row lg-g is-boxes">
                        <div class="col-12 lg-5 ">
                            <div class="boxed-area">
                                <div class="box-title">
                                    <h2 class="t-bold">Buyers</h2>
                                </div>
                                <ul>
                                    <li><svg class="ui-icon i-check-filled is-inline">
                                            <use xlink:href="#i-check-filled" /></svg>
                                        <p>Get items delivered to your doorstep</p>
                                    </li>
                                    <li><svg class="ui-icon i-check-filled is-inline">
                                            <use xlink:href="#i-check-filled" /></svg>
                                        <p>No need to meet strangers</p>
                                    </li>
                                    <li><svg class="ui-icon i-check-filled is-inline">
                                            <use xlink:href="#i-check-filled" /></svg>
                                        <p>Completely safe buying</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 lg-5">
                            <div class="boxed-area">
                                <div class="box-title">
                                    <h2 class="t-bold">Sellers</h2>
                                </div>
                                <ul>
                                    <li><svg class="ui-icon i-check-filled is-inline">
                                            <use xlink:href="#i-check-filled" /></svg>
                                        <p>Sell your items risk-free</p>
                                    </li>
                                    <li><svg class="ui-icon i-check-filled is-inline">
                                            <use xlink:href="#i-check-filled" /></svg>
                                        <p>We find serious buyers for you</p>
                                    </li>
                                    <li><svg class="ui-icon i-check-filled is-inline">
                                            <use xlink:href="#i-check-filled" /></svg>
                                        <p>Pay only if your item is sold</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-panel is-rounded panel-break guarantees">
                <div class="ui-panel-content ui-panel-block">
                    <div class="row">
                        <div class="col-12 lg-3 lg-pull-1 t-center push"><img
                                 src = "assets/images/buy/17.png"
                                class="image indent-top" width="192" height="auto"></div>
                        <div class="col-12 lg-6 ">
                            <h1 class="t-bold">Seller Guarantees</h1>
                            <ul>
                                <li><svg class="ui-icon i-check-filled is-inline">
                                        <use xlink:href="#i-check-filled" /></svg><span
                                        class="c-primary-dark t-bold">100% guarantee</span><span class="sub-text">
                                        we guarantee the value of your items 100% against loss, theft or damage
                                        during delivery</span></li>
                                <li><svg class="ui-icon i-check-filled is-inline">
                                        <use xlink:href="#i-check-filled" /></svg><span
                                        class="c-primary-dark t-bold">100% safety</span><span class="sub-text">we
                                        have strict procedures in place to ensure the security of your items</span>
                                </li>
                                <li><svg class="ui-icon i-check-filled is-inline">
                                        <use xlink:href="#i-check-filled" /></svg><span
                                        class="c-primary-dark t-bold">100% convenience</span><span class="sub-text">once
                                        your item has been successfully sold, we will pay you
                                        weekly.</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-panel is-rounded panel-break">
                <div class="ui-panel-content ui-panel-block">
                    <div class="row">
                        <div class="col-12 lg-4 vcenter  indent-top-double">
                            <!-- <div class="col-12 lg-4 vcenter lg-offset-1 indent-top-double"> -->
                            <h1 class="t-bold">Service charge for sellers</h1>
                            <h4 class="c-primary-grey">When your item is successfully sold through Buy Now, a
                                service charge applies.</h4>
                            <h4 class="t-bold"> </h4>
                        </div>
                        <div class="col-12 lg-5 vcenter ">
                            <table class="table-list">
                                <thead>
                                    <tr class="title-row">
                                        <th>
                                            <h6 class="t-left c-primary-grey t-normal"> Item for sale</h6>
                                        </th>
                                        <th>
                                            <h6 class="t-center c-primary-grey t-normal">Service charge</h6>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="primary-cell">
                                            <div class="h6 t-bold t-left c-primary-grey"> Electronics</div>
                                        </td>
                                        <td>
                                            <div class="h6 t-normal c-primary-grey">6%</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="primary-cell">
                                            <div class="h6 t-bold t-left c-primary-grey">Electronic Accessories
                                            </div>
                                        </td>
                                        <td>
                                            <div class="h6 t-normal c-primary-grey">15%</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="primary-cell">
                                            <div class="h6 t-bold t-left c-primary-grey"> Fashion &amp; beauty</div>
                                        </td>
                                        <td>
                                            <div class="h6 t-normal c-primary-grey">15%</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="primary-cell">
                                            <div class="h6 t-bold t-left c-primary-grey"> Hobbies, sports &amp; kids
                                                items</div>
                                        </td>
                                        <td>
                                            <div class="h6 t-normal c-primary-grey">15%</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="primary-cell">
                                            <div class="h6 t-bold t-left c-primary-grey"> Video games &amp; consoles
                                            </div>
                                        </td>
                                        <td>
                                            <div class="h6 t-normal c-primary-grey">12%</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="primary-cell">
                                            <div class="h6 t-bold t-left c-primary-grey">Sports supplements</div>
                                        </td>
                                        <td>
                                            <div class="h6 t-normal c-primary-grey">8%</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="primary-cell">
                                            <div class="h6 t-bold t-left c-primary-grey">Musical instruments</div>
                                        </td>
                                        <td>
                                            <div class="h6 t-normal c-primary-grey">8%</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-12 lg-10">
                                    <h6 class="c-primary-grey t-italic"><span>* Minimum service charge LKR200 per
                                            item sold</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row indent-top">
                        <div class="col-10 lg-offset-1">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 lg-10 lg-offset-1">
                            <h6 class="c-primary-grey t-italic"><span>
                                    <p>Note: no fee will be charged if an item is returned.</p>
                                </span><br><span>Outstation delivers may require additional fees.</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-panel is-rounded panel-break">
                <div class="ui-panel-content ui-panel-block">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="t-bold t-center">Contact us for more information</h1>
                            <h1 class="t-center indent-bottom"><img
                                    src = "assets/images/buy/18.png"
                                    class="image phone-img" width="36" height="auto"><span>0112350350</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "ikman",
            "url": "https://ikman.lk",
            "image": "https://w.ikman-st.com/dist/img/ikman/all/logos/footer-2x-54fad31b.png",
            "potentialAction": [{
                "@type": "SearchAction",
                "target": "https://ikman.lk/bn/ads?query={search_term_string}",
                "query-input": "required name=search_term_string"
            }, {
                "@type": "SearchAction",
                "target": "android-app://lk.ikman/ikman/ads?query={search_term_string}",
                "query-input": "required name=search_term_string"
            }]
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "ikman",
            "url": "https://ikman.lk",
            "logo": "https://w.ikman-st.com/dist/img/ikman/all/logos/footer-2x-54fad31b.png",
            "sameAs": ["https://www.facebook.com/ikmanclassifieds", "https://twitter.com/Ikman_lk", "https://www.linkedin.com/company/ikman-lk", "https://en.wikipedia.org/wiki/Ikman.lk"]
        }
    </script>
<script>
    window.PLATFORM = CONFIG.platform = 'lg';
    CONFIG.locale = 'en';
    CONFIG.FACEBOOK_APP_ID = '808030852613750';
</script>
<script>
    CONFIG.publishKey = 'pub-c-08130588-c814-4bee-aedb-a2dc2e2fc9e7';
    CONFIG.subscribeKey = 'sub-c-07e95c54-cada-11e9-a23a-eeb3a5fbbe72';
</script>
<script src="https://w.ikman-st.com/dist/15740773/js/lg/static.js"></script>
<script type="text/javascript">
    gtmData.push({
        "userAuthenticated": "no",
        "platform": "lg"
    })
</script>
<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'gtmData', 'GTM-5857RX');
</script>
<!-- 2019-11-22T06:50:30.350Z
{{-- <script src="{{URL :: asset('js/static.js')}}"></script> --}} -->