<app-header></app-header>

<div class="container breadcrumbx" style="width: 100%;padding: 5%;padding-top:12%">
    <div class="row" style="height: 200px;padding-bottom: 2%">
        <div class="col-12" style="background-color:black "></div>
    </div>
    <div class="row" style="height: 10%;padding-bottom: 2%">
        <div class="col-12" style="background-color:black">
            <p>membership xxx</p>
        </div>

    </div>
    <div class="row" style="height: 10%;padding-bottom: 2%">
        <div class="col-12" style="background-color:black">
            <p>hi xxx</p>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-4 col-12">
            <div class="packagecard">
                <div class="containerx card">
                    <div class="char_title" style="align-items: center; background-color:gold;padding :5px"
                        data-toggle="tooltip" title="select your plan">Silver</div>
                    <div class="footer_phone">50 adds per month</div>
                    <div class="cardtext" style="text-align: justify">you can post 50 adds per month </div>
                    <div class="footer_phone">verified member badge </div>
                    <div class="cardtext" style="text-align: justify">we will show verify member badge your your every
                        prduct</div>
                    <div class="footer_phone">5 top ads </div>
                    <div class="cardtext" style="text-align: justify">you have access to post 5 top ads per month .
                    </div>
                    <div class="footer_phone">ecommerce acess </div>
                    <div class="cardtext" style="text-align: justify">Buyer can buy your product by click buy now button
                    </div>
                    <div class="footer_phone">sms billing access</div>
                    <div class="cardtext" style="text-align: justify">//ones you post your client ad .cliant will recive
                        thank you massage with payment verified sms .you don’t need worry about manual recipt .you can
                        collect payment from client ones client recive sms</div>
                    <div><a><a class="btn btn-outline-warning" routerLink="/areaAgentForm" style="margin:20px;"
                                data-toggle="tooltip" title="1000/MONTH">Get Started</a></a></div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-12">
            <div class="packagecard">
                <div class="containerx card">
                    <div class="char_title" style="align-items: center; background-color:gold;padding :5px"
                        data-toggle="tooltip" title="select your plan">Platinum</div>
                    <div class="footer_phone">100 adds per month</div>
                    <div class="cardtext" style="text-align: justify">you can post 100 adds per month </div>
                    <div class="footer_phone">verified member badge </div>
                    <div class="cardtext" style="text-align: justify">we will show verify member badge your your every
                        prduct</div>
                    <div class="footer_phone">10 top ads </div>
                    <div class="cardtext" style="text-align: justify">you have access to post 10 top ads per month .
                    </div>
                    <div class="footer_phone">ecommerce acess </div>
                    <div class="cardtext" style="text-align: justify">Buyer can buy your product by click buy now button
                    </div>
                    <div class="footer_phone">sms billing access</div>
                    <div class="cardtext" style="text-align: justify">//ones you post your client ad .cliant will recive
                        thank you massage with payment verified sms .you don’t need worry about manual recipt .you can
                        collect payment from client ones client recive sms</div>
                    <div><a><a class="btn btn-outline-warning" routerLink="/areaAgentForm" style="margin:20px;"
                                data-toggle="tooltip" title="2000/MONTH">Get Started</a></a></div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-12">
            <div class="packagecard">
                <div class="containerx card">
                    <div class="char_title" style="align-items: center; background-color:gold;padding :5px"
                        data-toggle="tooltip" title="select your plan">Gold</div>
                    <div class="footer_phone">unlimited adds per month</div>
                    <div class="cardtext" style="text-align: justify">you can post unlimited free ads per month </div>
                    <div class="footer_phone">verified member badge </div>
                    <div class="cardtext" style="text-align: justify">we will show verify member badge your your every
                        prduct</div>
                    <div class="footer_phone">40 top ads </div>
                    <div class="cardtext" style="text-align: justify">you have access to post 40 top ads per month .
                    </div>
                    <div class="footer_phone">ecommerce acess </div>
                    <div class="cardtext" style="text-align: justify">Buyer can buy your product by click buy now button
                    </div>
                    <div class="footer_phone">sms billing access</div>
                    <div class="cardtext" style="text-align: justify">//ones you post your client ad .cliant will recive
                        thank you massage with payment verified sms .you don’t need worry about manual recipt .you can
                        collect payment from client ones client recive sms</div>
                    <div><a><a class="btn btn-outline-warning" routerLink="/areaAgentForm" style="margin:20px;"
                                data-toggle="tooltip" title="3500/MONTH">Get Started</a></a></div>
                </div>
            </div>
        </div>
    </div>



</div>

<app-footer></app-footer>