<app-header></app-header>

<div class="container breadcrumbx" style="width: 100%;padding: 5%;padding-top:12%">
    <div class="row" style="height: 200px;padding-bottom: 2%">
        <div class="col-12" style="background-color:black "></div>
    </div>
    <div class="row" style="height: 10%;padding-bottom: 2%">
        <div class="col-12" style="background-color:black">
            <p>leasing xxx</p>
        </div>

    </div>
    <div class="row" style="height: 10%;padding-bottom: 2%">
        <div class="col-12" style="background-color:black">
            <p>hi xxx</p>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4 col-12">
            <div class="packagecard">
                <div class="containerx card">
                    <div class="char_title" style="align-items: center; background-color:gold;padding :5px"
                        data-toggle="tooltip" title="select your plan">Silver</div>
                    <div class="footer_phone">50 offer access per month</div>
                    <div class="cardtext" style="text-align: justify">you can offer your leasing rate or loan rate for
                        vehicle and property 50 times per day </div>
                    <div class="footer_phone">sms notification</div>
                    <div class="cardtext" style="text-align: justify">we will send you to details links of new vehicle
                        and property ads details via sms</div>
                    <div class="footer_phone">referal earning access</div>
                    <div class="cardtext" style="text-align: justify">//you have accesss refer this packages to the your
                        frind .if someone buy under your promo cord we will pay you 50% commintion per sale</div>
                    <div class="footer_phone">verify agent certificate</div>
                    <div class="cardtext" style="text-align: justify">ones you joined as a aria agent .we will send
                        cetificate of verified agent .this cetificate help you to build trust with your client </div>
                    <div class="footer_phone">sms billing access</div>
                    <div class="cardtext" style="text-align: justify">//ones you post your client ad .cliant will recive
                        thank you massage with payment verified sms .you don’t need worry about manual recipt .you can
                        collect payment from client ones client recive sms</div>
                    <div><a><a class="btn btn-outline-warning" routerLink="/leasingAgentForm" style="margin:20px;"
                                data-toggle="tooltip" title="500/MONTH">Get Started</a></a></div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-12">
            <div class="packagecard">
                <div class="containerx card">
                    <div class="char_title" style="align-items: center; background-color:gold;padding :5px"
                        data-toggle="tooltip" title="select your plan">Platinum</div>
                    <div class="footer_phone">100 offer access per month</div>
                    <div class="cardtext" style="text-align: justify">you can offer your leasing rate or loan rate for
                        vehicle and property 100 times per day </div>
                    <div class="footer_phone">sms notification</div>
                    <div class="cardtext" style="text-align: justify">we will send you to details links of new vehicle
                        and property ads details via sms</div>
                    <div class="footer_phone">referal earning access</div>
                    <div class="cardtext" style="text-align: justify">//you have accesss refer this packages to the your
                        frind .if someone buy under your promo cord we will pay you 50% commintion per sale</div>
                    <div class="footer_phone">verify agent certificate</div>
                    <div class="cardtext" style="text-align: justify">ones you joined as a aria agent .we will send
                        cetificate of verified agent .this cetificate help you to build trust with your client </div>
                    <div class="footer_phone">sms billing access</div>
                    <div class="cardtext" style="text-align: justify">//ones you post your client ad .cliant will recive
                        thank you massage with payment verified sms .you don’t need worry about manual recipt .you can
                        collect payment from client ones client recive sms</div>
                    <div><a><a class="btn btn-outline-warning" routerLink="/leasingAgentForm" style="margin:20px;"
                                data-toggle="tooltip" title="1000/MONTH">Get Started</a></a></div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-12">
            <div class="packagecard">
                <div class="containerx card">
                    <div class="char_title" style="align-items: center; background-color:gold;padding :5px"
                        data-toggle="tooltip" title="select your plan">Gold</div>
                    <div class="footer_phone">200 offer access per month</div>
                    <div class="cardtext" style="text-align: justify">you can offer your leasing rate or loan rate for
                        vehicle and property 100 times per day </div>
                    <div class="footer_phone">sms notification</div>
                    <div class="cardtext" style="text-align: justify">we will send you to details links of new vehicle
                        and property ads details via sms</div>
                    <div class="footer_phone">referal earning access</div>
                    <div class="cardtext" style="text-align: justify">//you have accesss refer this packages to the your
                        frind .if someone buy under your promo cord we will pay you 50% commintion per sale</div>
                    <div class="footer_phone">verify agent certificate</div>
                    <div class="cardtext" style="text-align: justify">ones you joined as a aria agent .we will send
                        cetificate of verified agent .this cetificate help you to build trust with your client </div>
                    <div class="footer_phone">sms billing access</div>
                    <div class="cardtext" style="text-align: justify">//ones you post your client ad .cliant will recive
                        thank you massage with payment verified sms .you don’t need worry about manual recipt .you can
                        collect payment from client ones client recive sms</div>
                    <div><a><a class="btn btn-outline-warning" routerLink="/leasingAgentForm" style="margin:20px;"
                                data-toggle="tooltip" title="2000/MONTH">Get Started</a></a></div>
                </div>
            </div>
        </div>



    </div>




</div>

<app-footer></app-footer>